# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
*.egg-info/
/build/
/dist/
pip-wheel-metadata

# Virtualenv
/env/
/src/

# Unit test / coverage reports
.cache
.pytest_cache
.coverage
htmlcov
.tox

# Sphinx documentation
/doc/build/
