# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
*.egg-info/
/build/
/dist/
pip-wheel-metadata

# Virtualenv
/env/
.venv/
/venv/
/src/

# Unit test / coverage reports
.*cache
.coverage
htmlcov
.tox

# Sphinx documentation
/doc/build/
/doc/_build/

# Editor
/.vscode/
/.idea/

# Type checkers
.mypy_cache/
