sudo: false
dist: xenial
language: python

python:
    - "2.7"
    - "pypy"
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7"
matrix:
    include:
    - python: "3.5"
      env: TOXENV="-e docs"
    - python: "3.5"
      env: TOXENV="-e pep8"
    - python: "3.5"
      env: TOXENV="-e coverage"
install:
    - pip install --upgrade pip setuptools
    - pip install tox-travis
script:
    - tox -c .travis_tox.ini $TOXENV
