[buildout]
develop =
  .
  fixture_packages/base
  fixture_packages/sub
  fixture_packages/no_mp
  fixture_packages/no_mp_sub
  fixture_packages/ns
  fixture_packages/ns2
  fixture_packages/no_mp_ns
  fixture_packages/entry-point
  fixture_packages/under_score
parts = devpython py.test sphinxpython sphinxbuilder releaser
versions = versions
show-picked-versions = true
extensions = mr.developer
auto-checkout = reg dectate importscan

[versions]
twine = 1.6.5

[sources]
reg = git git@github.com:morepath/reg.git
dectate = git git@github.com:morepath/dectate.git
importscan = git git@github.com:faassen/importscan.git

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = morepath [test]
       flake8
       radon
       pylint
       pep257
       pyroma
       dodgy

[py.test]
recipe = zc.recipe.egg
eggs = morepath
       morepath[test]
       pytest
       snot
       base
       under_score
       sub
       no_mp
       no_mp_sub
       ns.real
       ns.real2
       no_mp_ns
       entry-point

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/build
interpreter = ${buildout:directory}/bin/sphinxpython

[sphinxpython]
recipe = zc.recipe.egg
interpreter = ${:_buildout_section_name_}
eggs = morepath[test]

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

